<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
  <properties resource="config.properties">
  </properties>
  
  <typeAliases>
    <typeAlias type="edu.eci.cvds.entities.abstractEntities.ElementoEquipo" alias="ElementoEquipo"/>
    <typeAlias type="edu.eci.cvds.entities.concreteEntities.Equipo" alias="Equipo"/>
    <typeAlias type="edu.eci.cvds.entities.concreteEntities.Laboratorio" alias="Laboratorio"/>
    <typeAlias type="edu.eci.cvds.entities.concreteEntities.Novedad" alias="Novedad"/>
    <typeAlias type="edu.eci.cvds.persistence.service.adapter.entities.ElementoEquipoAdapter" alias="ElementoEquipoAdapter"/>
    <typeAlias type="edu.eci.cvds.persistence.service.adapter.entities.EquipoAdapter" alias="EquipoAdapter"/>
    <typeAlias type="edu.eci.cvds.persistence.service.adapter.entities.LaboratorioAdapter" alias="LaboratorioAdapter"/>
    <typeAlias type="edu.eci.cvds.persistence.service.adapter.entities.NovedadAdapter" alias="NovedadAdapter"/>
    <!--<typeAlias type="" alias=""/>-->
  </typeAliases>
  
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC" />
      <dataSource type="POOLED">
        <property name="driver" value="${driver}" />
        <property name="url" value="${url}" />
        <property name="username" value="${username}" />
        <property name="password" value="${password}" />
      </dataSource>
    </environment>
    
  </environments>
  
  <mappers>
    <mapper resource="mappers/ElementoEquipoMapper.xml" />
    <mapper resource="mappers/EquipoMapper.xml" />
    <mapper resource="mappers/LaboratorioMapper.xml" />
    <mapper resource="mappers/NovedadMapper.xml" />
  </mappers>
  
</configuration>